accelerate==1.10.1
acres==0.3.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.7.2
anyio==4.8.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astor==0.8.1
asttokens==3.0.0
async-lru==2.0.4
async-timeout==4.0.3
attrs==25.1.0
babel==2.17.0
backoff==2.2.1
batchgenerators==0.25.1
bcrypt==4.3.0
beautifulsoup4==4.13.3
biopython==1.85
bitsandbytes==0.46.1
blake3==1.0.5
bleach==6.2.0
blinker==1.9.0
blis==0.7.11
Brotli @ file:///croot/brotli-split_1736182456865/work
build==1.2.2.post1
cachetools==5.5.2
catalogue==2.0.10
cbor2==5.7.0
certifi==2025.8.3
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.3
chromadb==1.0.15
ci-info==0.3.0
click==8.1.8
cloudpathlib==0.21.0
cloudpickle==3.1.1
coloredlogs==15.0.1
comm==0.2.2
compressed-tensors==0.10.2
confection==0.1.5
configobj==5.0.9
configparser==7.2.0
conllu==6.0.0
contourpy==1.3.0
cryptography==44.0.2
cupy-cuda12x==13.6.0
cycler==0.12.1
cymem==2.0.11
dashscope==1.23.8
dataclasses-json==0.6.7
datasets==4.0.0
debugpy==1.8.12
decorator==5.2.1
defusedxml==0.7.1
depyf==0.19.0
dicom2nifti==2.5.1
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
dnspython==2.7.0
durationpy==0.10
dynasor @ file:///home/fangyi1/Dynasor
einops==0.8.1
email-validator==2.3.0
emoji==2.14.1
en_core_sci_sm @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_sm-0.5.4.tar.gz#sha256=a54a114ee11dab7cf6db8cf69ef485145011537f45f3c16c71338c48fd6f070b
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz#sha256=14a2f31bc476af87019819ea8c9948fabdfd473a442edd6b1cba62bf0c2c0f55
en_ner_bc5cdr_md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_ner_bc5cdr_md-0.5.1.tar.gz#sha256=7852184affa649bcc1417d11fb1075b99f483e1f8329d91ca296de8020a46a31
et_xmlfile==2.0.0
etelemetry==0.3.1
exceptiongroup==1.2.2
executing==2.2.0
faiss-cpu==1.11.0
fake-useragent==2.1.0
fastapi==0.116.1
fastapi-cli==0.0.10
fastapi-cloud-cli==0.1.5
fastjsonschema==2.21.1
fastrlock==0.8.3
ffmpy==0.6.1
filelock==3.19.1
fitz==0.0.1.dev2
flatbuffers==25.2.10
fonttools==4.56.0
fqdn==1.5.1
frontend==0.0.3
frozenlist==1.7.0
fsspec==2025.3.0
future==1.0.0
fuzzywuzzy==0.18.0
gguf==0.17.1
gitdb==4.0.12
GitPython==3.1.44
gmpy2 @ file:///croot/gmpy2_1738085463648/work
google==3.0.0
google-auth==2.40.3
googleapis-common-protos==1.70.0
gradio==4.44.1
gradio_client==1.3.0
greenlet==3.2.3
grpcio==1.73.1
h11==0.14.0
hf-xet==1.1.9
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.34.4
humanfriendly==10.0
idna==3.10
imageio==2.37.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
interegular==0.3.3
ipykernel==6.29.5
ipython==8.18.1
ipywidgets==8.1.7
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.9.0
joblib==1.4.2
json5==0.10.0
jsonpatch==1.33
jsonpickle==4.0.5
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kiwisolver==1.4.7
kubernetes==33.1.0
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.67
langchain-huggingface==0.3.0
langchain-text-splitters==0.3.8
langcodes==3.5.0
langsmith==0.4.4
language_data==1.3.0
lark==1.2.2
latex2sympy2==1.9.1
lazy_loader==0.4
leveldb==0.201
Levenshtein==0.27.1
linecache2==1.0.0
llguidance==0.7.30
llmlingua==0.2.2
llvmlite==0.43.0
lm-format-enforcer==0.10.12
looseversion==1.3.0
ltp==4.2.14
ltp-core==0.1.4
ltp-extension==0.1.13
lxml==5.3.1
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.9.4
matplotlib-inline==0.1.7
mdurl==0.1.2
MedPy==0.5.2
mistral_common==1.8.4
mistune==3.1.2
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mmh3==5.1.0
monai==1.2.0
mpmath==1.3.0
msgpack==1.1.1
msgspec==0.19.0
multidict==6.6.3
multiprocess==0.70.16
murmurhash==1.0.12
mypy_extensions==1.1.0
narwhals==1.37.1
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nibabel==5.3.2
ninja==1.13.0
nipype==1.10.0
nltk==3.9.1
nmslib==2.1.1
nnunet==1.7.1
notebook_shim==0.2.4
numba==0.60.0
numpy==2.0.2
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
oauthlib==3.3.1
onnxruntime==1.19.2
openai==1.102.0
openai-harmony==0.0.4
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
opentelemetry-api==1.35.0
opentelemetry-exporter-otlp-proto-common==1.35.0
opentelemetry-exporter-otlp-proto-grpc==1.35.0
opentelemetry-proto==1.35.0
opentelemetry-sdk==1.35.0
opentelemetry-semantic-conventions==0.56b0
orjson==3.10.18
outlines_core==0.2.10
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
partial-json-parser==0.2.1.1.post6
pathlib==1.0.1
pathlib_abc==0.1.1
pathy==0.11.0
patsy==1.0.1
pdfminer.six==20250327
pdfplumber==0.11.6
peft==0.17.1
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.3.6
posthog==5.4.0
preshed==3.0.9
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.3.2
protobuf==6.30.2
prov==2.0.1
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.28
py==1.11.0
py-cpuinfo==9.0.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.1
pybind11==2.6.1
pycountry==24.6.1
pycparser==2.22
pycryptodome==3.9.9
pydantic==2.11.7
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydeck==0.9.1
pydicom==2.4.4
pydot==3.0.4
pydub==0.25.1
Pygments==2.19.1
PyMuPDF==1.25.5
pynndescent==0.5.13
pyparsing==3.2.1
pypdf==5.7.0
PyPDF2==3.0.1
pypdfium2==4.30.1
PyPika==0.48.9
pyproject_hooks==1.2.0
pysbd==0.3.4
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.1.1
python-gdcm==3.0.24.1
python-json-logger==3.2.1
python-Levenshtein==0.27.1
python-multipart==0.0.20
pytz==2025.1
pyvis==0.3.2
pyxnat==1.6.3
PyYAML==6.0.2
pyzmq==26.2.1
quickumls==1.4.2
quickumls_simstring==1.1.5.post1
RapidFuzz==3.13.0
ray==2.49.0
rdflib==6.3.2
referencing==0.36.2
regex==2025.8.29
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retry==0.9.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.1.0
rich-toolkit==0.15.0
rignore==0.6.4
rpds-py==0.23.1
rsa==4.9.1
ruff==0.13.1
safetensors==0.6.2
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
scispacy==0.5.1
seaborn==0.13.2
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==5.0.0
sentencepiece==0.2.0
sentry-sdk==2.35.1
setproctitle==1.3.6
shellingham==1.5.4
SimpleITK==2.4.1
simplejson==3.20.1
six==1.17.0
smart-open==6.4.0
smmap==5.0.2
sniffio==1.3.1
soundfile==0.13.1
soupsieve==2.6
soxr==0.5.0.post1
spacy==3.4.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speedtest-cli==2.1.3
SQLAlchemy==2.0.41
srsly==2.5.1
stack-data==0.6.3
stanza==1.10.1
starlette==0.46.2
statsmodels==0.14.4
streamlit==1.45.0
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
terminado==0.18.1
thinc==8.1.12
threadpoolctl==3.5.0
tifffile==2024.8.30
tiktoken==0.11.0
tinycss2==1.4.0
tokenizers==0.22.0
toml==0.10.2
tomli==2.2.1
tomlkit==0.12.0
torch==2.8.0
torchaudio==2.7.1
torchvision==0.23.0
tornado==6.4.2
tqdm==4.67.1
traceback2==1.4.0
traitlets==5.14.3
traits==7.0.2
transformers==4.56.0
trimesh==4.8.2
triton==3.4.0
typer==0.16.0
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.15.0
tzdata==2025.1
umap-learn==0.5.9.post2
Unidecode==1.3.8
unittest2==1.1.0
unqlite==0.9.8
uri-template==1.3.0
urllib3==2.5.0
uvicorn==0.34.2
uvloop==0.21.0
volcengine==1.0.193
volcengine-python-sdk==4.0.5
wasabi==0.10.1
watchdog==6.0.0
watchfiles==1.1.0
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
widgetsnbextension==4.0.14
word2number==1.1
wordcloud==1.9.4
wrapt==1.17.2
xformers==0.0.31
xgrammar==0.1.21
xlrd==2.0.2
xlwt==1.3.0
xxhash==3.5.0
yarl==1.20.1
zipp==3.23.0
zstandard==0.23.0
